<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  
<script src="assets/js/layout-script.js"></script>
  
</body>
</html>
