<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title | default: "The Rushing Gnome" }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">  
  <link rel="stylesheet" href="{{ 'assets/css/style1.css' | relative_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>  
</body>
</html>
